@import '../../css/variable';

.tabs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
  gap: 30px;

  &__item{
    @include bgWhite;
    padding: 24px 32px;
    flex: 1 1 auto;
    text-align: center;
    transition: all .2s ease;
 

    &:hover{
      border: 1px solid #3751FF;
      cursor: pointer;

      .tabs__name,
      .tabs__value{
        color: #3751FF;
      }
    }
  }
  
  &__name{
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #9FA2B4;
    margin-bottom: 12px;
    transition: all .2s ease;
  }

  &__value{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px;
    color: #252733;
    transition: all .2s ease;
  }

}

