@import '../../css/variable';

.tasks .information__item:first-child{
  color: $text-grey;
}
.tasks{

  &__item{

  }
}

label{
  cursor: pointer;
}

.checkbox__item{
  display: none;
}

.custom-radio{
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #C5C7CD;
  border-radius: 50%;
  margin-right: 16px;
  vertical-align:text-top;

  &::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background: #3751FF;
    transition: all .2s ease-in;  
  }

  &::before{
    content: "";
    position: absolute;
    background-image: url('../../image/check.svg');
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }

}

.checkbox__item:checked + .custom-radio::after{
  transform: translate(-50%, -50%) scale(1);
}

.like-btn.information-btn {
  border-radius: 8px;
}

.like-btn.plus-btn{
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;

  &::after,
  &::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background: #9FA2B4;
  }
  &::before{
    width: 2px;
    height: 10px;
  }
  &::after{
    width: 10px;
    height: 2px;
  }

}